.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  padding: 2rem calc(4rem + 15px) 2rem 4rem;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

@media (max-width: 40rem) {
  .modal {
    padding: 2rem calc(4rem + 15px) 2rem 4rem;
  }
}